KHOJ-backend/n8n_workflow.json
{
  "name": "KHOJ Quiz Reminder Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Every Hour",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:8080/api/schedule/due",
        "options": {}
      },
      "id": "get-due-schedules",
      "name": "Get Due Schedules",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://localhost:8080/api/quiz/reminder",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"schedule_id\": $json.id } }}",
        "options": {}
      },
      "id": "trigger-reminder",
      "name": "Trigger Quiz Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "twilioApi",
        "accountSid": "={{ $env.TWILIO_ACCOUNT_SID }}",
        "authToken": "={{ $env.TWILIO_AUTH_TOKEN }}",
        "from": "={{ $env.TWILIO_PHONE_NUMBER }}",
        "to": "={{ $json.user_id }}",
        "message": "=📅 Time for your quiz on {{ $('Split In Batches').item.json.topic }}! Check your chat for details."
      },
      "id": "send-twilio-sms",
      "name": "Send SMS via Twilio",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1.1,
      "position": [1120, 300],
      "disabled": false
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://localhost:8080/api/schedule/{{ $('Split In Batches').item.json.user_id }}",
        "options": {}
      },
      "id": "get-user-info",
      "name": "Get User Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 500],
      "disabled": true
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Get Due Schedules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Due Schedules": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Trigger Quiz Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Quiz Reminder": {
      "main": [
        [
          {
            "node": "Send SMS via Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-31T19:00:00.000Z",
  "versionId": "1"
}


